In [1]:
import pandas as pd
import numpy as np
from baseball_scraper import statcast

In [8]:
data1 = statcast(start_dt = '2020-01-01', end_dt='2021-11-01')

This is a large query, it may take a moment to complete
Skipping offseason dates
Completed sub-query from 2021-03-15 to 2021-03-21
Completed sub-query from 2021-03-22 to 2021-03-27
Completed sub-query from 2021-03-28 to 2021-04-02
Completed sub-query from 2021-04-03 to 2021-04-08
Completed sub-query from 2021-04-09 to 2021-04-14
Completed sub-query from 2021-04-15 to 2021-04-20
Completed sub-query from 2021-04-21 to 2021-04-26
Completed sub-query from 2021-04-27 to 2021-05-02
Completed sub-query from 2021-05-03 to 2021-05-08
Completed sub-query from 2021-05-09 to 2021-05-14
Completed sub-query from 2021-05-15 to 2021-05-20
Completed sub-query from 2021-05-21 to 2021-05-26
Completed sub-query from 2021-05-27 to 2021-06-01
Completed sub-query from 2021-06-02 to 2021-06-07
Completed sub-query from 2021-06-08 to 2021-06-13
Completed sub-query from 2021-06-14 to 2021-06-19
Completed sub-query from 2021-06-20 to 2021-06-25
Completed sub-query from 2021-06-26 to 2021-07-01
Completed sub-query from 2021-07-02 to 2021-07-07
Completed sub-query from 2021-07-08 to 2021-07-13
Completed sub-query from 2021-07-14 to 2021-07-19
Completed sub-query from 2021-07-20 to 2021-07-25
Completed sub-query from 2021-07-26 to 2021-07-31
Completed sub-query from 2021-08-01 to 2021-08-06
Completed sub-query from 2021-08-07 to 2021-08-12
Completed sub-query from 2021-08-13 to 2021-08-18
Completed sub-query from 2021-08-19 to 2021-08-24
Completed sub-query from 2021-08-25 to 2021-08-30
Completed sub-query from 2021-08-31 to 2021-09-05
Completed sub-query from 2021-09-06 to 2021-09-11
Completed sub-query from 2021-09-12 to 2021-09-17
Completed sub-query from 2021-09-18 to 2021-09-23
Completed sub-query from 2021-09-24 to 2021-09-29
Completed sub-query from 2021-09-30 to 2021-10-05
Completed sub-query from 2021-10-06 to 2021-10-11
Completed sub-query from 2021-10-12 to 2021-10-17
Completed sub-query from 2021-10-18 to 2021-10-23
Completed sub-query from 2021-10-24 to 2021-10-29
Completed sub-query from 2021-10-30 to 2021-11-01

In [11]:
data1.to_pickle('Data/yr1.pkl')

In [12]:
data2 = statcast(start_dt = '2022-01-01', end_dt='2022-11-01')

This is a large query, it may take a moment to complete
Completed sub-query from 2022-01-01 to 2022-11-01

In [14]:
data2.to_pickle('Data/y2.pkl')

In [15]:
data2 = statcast(start_dt = '2023-01-01', end_dt='2023-12-31')

This is a large query, it may take a moment to complete
Completed sub-query from 2023-01-01 to 2023-12-31

In [17]:
data2.to_pickle('data/yr3.pkl')

In [2]:
data2 = statcast(start_dt = '2024-01-01', end_dt='2024-05-27')

This is a large query, it may take a moment to complete
Completed sub-query from 2024-01-01 to 2024-05-27

In [3]:
data2.to_pickle('Data/yr4.pkl')

In [4]:
data2

,index,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,...,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp,bat_speed,swing_length
0,1821,FF,2024-05-27,99.0,-1.97,5.77,"Finnegan, Kyle",672284.0,640448.0,strikeout,...,4.0,4.0,8.0,Strategic,Standard,214.0,-0.012,-0.255,69.146182,5.74949
1,1882,FF,2024-05-27,98.3,-1.73,5.82,"Finnegan, Kyle",672284.0,640448.0,NaN,...,4.0,4.0,8.0,Standard,Standard,217.0,0.000,-0.110,NaN,NaN
2,1952,FF,2024-05-27,98.5,-1.54,5.89,"Finnegan, Kyle",672284.0,640448.0,NaN,...,4.0,4.0,8.0,Standard,Standard,216.0,0.000,-0.082,NaN,NaN
3,2012,FF,2024-05-27,98.4,-1.36,5.92,"Finnegan, Kyle",606115.0,640448.0,single,...,4.0,4.0,8.0,Standard,Standard,217.0,0.008,0.349,74.311841,8.20349
4,2041,FF,2024-05-27,97.8,-1.57,5.87,"Finnegan, Kyle",606115.0,640448.0,NaN,...,4.0,4.0,8.0,Standard,Standard,213.0,0.000,-0.040,72.653131,8.19455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,24628,FF,2024-05-21,93.3,2.02,6.40,"Corbin, Patrick",669304.0,571578.0,NaN,...,0.0,0.0,0.0,Standard,Standard,148.0,0.000,0.022,NaN,NaN
24996,24705,SI,2024-05-21,92.7,2.16,6.32,"Corbin, Patrick",621043.0,571578.0,triple,...,0.0,0.0,0.0,Standard,Standard,144.0,-0.026,0.185,79.759993,6.14171
24997,24717,SI,2024-05-21,94.0,2.01,6.27,"Corbin, Patrick",621043.0,571578.0,NaN,...,0.0,0.0,0.0,Standard,Standard,144.0,0.000,-0.016,NaN,NaN
24998,24875,SL,2024-05-21,80.3,2.21,6.34,"Corbin, Patrick",621043.0,571578.0,NaN,...,0.0,0.0,0.0,Standard,Standard,269.0,0.000,0.039,NaN,NaN
24999,24966,FF,2024-05-21,92.5,2.04,6.46,"Corbin, Patrick",621043.0,571578.0,NaN,...,0.0,0.0,0.0,Standard,Standard,143.0,0.000,0.025,NaN,NaN